doctype
html
	head
		if color !== ''
			title Tonight the Empire State Building is #{color}?
		else
			title Why is the Empire State Building that color, tonight?
		meta(name='Handheldfriendly', content='True')
		meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='MobileOptimized', content='320')
		script(src="//use.typekit.net/ftn6mkc.js")
		script.
			try{Typekit.load();}catch(e){}
		link(type='text/css', rel='stylesheet', href='public/css/reset.css')
		link(type='text/css', rel='stylesheet', href='public/css/style.css')
	body
		header
			.beta-status beta
			.circular-outer
				if (useDefaultImage)
					.circular
				else 
					.circular.default

		.main-container
			.content
				if color !== ''
					h1 Today 
					h3 the Empire State Building is
					h1.todays-color #{color}.
					h3 Reason:
					p #{description}

	