body {
	padding:.875em;
	font-size:100%;
}

h1 {
	font-size:3em;
	margin-bottom:25px;
}
h2 {
	font-size:2em
}
h3 {
	font-size:1em;
	font-style:italic;
}

p {
	font-size:1em;
}

header {
	width:100%;
	text-align:center;
}


header .circular {
	width: 18.75em;
	height: 18.75em;
	margin:0 auto;
	border-radius: 11.25em;
	-webkit-border-radius: 11.25em;
	-moz-border-radius: 11.25em;
	background:url(/images/esb.jpg) no-repeat;
	background-size:cover;
	background-position:50%;
}


.main-container {
	margin:0 auto
}

.content {
	text-align:center;
}

.todays-date {
	color: #000
}