body {
	padding:.875em;
	background:#111;
	font-size:100%;
	color:#fff;
	font-family: "league-gothic", sans-serif;
}

h1 {
	font-size:3.157em;
	margin-bottom:25px;
}
h2 {
	font-size:2.369em
}
h3 {
	font-size:1.777em;
	font-style:italic;
}

p {
	font-size:1.333em;
}

header {
	width:100%;
	text-align:center;
}

header .circular-outer {
	width: 18.75em;
	height: 18.75em;
	padding:0.25em;
	background:#fff;
	border-radius: 11.25em;
	-webkit-border-radius: 11.25em;
	-moz-border-radius: 11.25em;
	margin:0 auto;
}
header .circular .default {
	background:url(../images/default.jpg) no-repeat;
}
header .circular {
	width: 18.75em;
	height: 18.75em;
	border-radius: 11.25em;
	-webkit-border-radius: 11.25em;
	-moz-border-radius: 11.25em;
	background:url(../images/esb.jpg) no-repeat;
	background-size:cover;
	background-position:50%;
}


.main-container {
	margin:0 auto;
	text-align:center;
}

.content {
	text-align:center;
}
.todays-color {
	text-transform: uppercase;
}
.todays-date {
	color: #000
}
.beta-status {
	position:absolute;
	top:0;
	left:0;
	font-size:1em;
}